<div class="cat-box">
	<h1><%= @kitten.name %></h1>
	<p>Age: <%= @kitten.age %></p>
	<p>Cuteness: <%= @kitten.cuteness %></p>
	<p>Softness: <%= @kitten.softness %></p>

	<p id=<%= @kitten.id %>>
		<span><%= link_to "Edit", edit_kitten_path(@kitten) %></span> | 
		<span class="destroy">Destroy</span>
	</p>
</div>