<!DOCTYPE html>
<html>
  <head>
    <title>Kittens!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<navbar id="navbar">
  		<div id="logo">
  			<%= link_to 'Kittens!', root_path %>
  		</div>

  		<div id="nav-links">
  			<div class="nav-link">
  				<%= link_to "Add a Kitten", new_kitten_path %>
  			</div>
  			<div class="nav-link">
  				<%= link_to "View Source Code", 'https://github.com/amyhenning/odin-kittens' %>
  			</div>

  		</div>
  	</navbar>

  	<main id="main">
    	<%= yield %>
  	</main>
  </body>
</html>
